################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BotekoGO/.vs/BotekoGO
/BotekoGO/BotekoGO/bin
/BotekoGO/BotekoGO/obj
